.page {
  padding: 0;
  margin: 0;
  background-color: #f0f2f5;
  font-family: poppins, sans-serif;
  height: 100vh;
  display: relative;
}

.page header{
  background-color: rgb(45, 74, 34);
  height: 12.4rem;
  display: flex;
  justify-content: center;
}

.page header img{
  margin-top: 1.75rem;
  height: fit-content;
  width: fit-content;
}

.page main{
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 9.4rem;
  margin: 0 auto;
  width: 100vw;
}

.card{
  width: 12.4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  justify-content: space-between;
  border-radius: 5px;
}

.card div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-blue);
}

.card div span:last-child{
  height: 2rem;
}

.card .value{
  font-size: 2rem;
  color: var(--dark-blue);
  margin-top: 1rem;
  height: 42px;
}

.page main div:last-child{
  background-color: var(--green);
  color: white;
}

.page main div:last-child span{
  color: white;
}