.page {
  padding: 0;
  margin: 0;
  background-color: #f0f2f5;
  font-family: poppins, sans-serif;
  height: 100vh;
  display: relative;
}

.page header{
  background-color: rgb(45, 74, 34);
  height: 12.4rem;
  display: flex;
  justify-content: center;
}

.page header img{
  margin-top: 1.75rem;
  height: fit-content;
  width: fit-content;
}

.page main{
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 9rem;
  margin: 0 auto;
  width: 100vw;
}

main .card{
  width: 13rem;
  height: 7rem;
  background-color: gray;
  display: flex;
  color: white;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 7px;
}

main .card div{
  display: flex;
  justify-content: space-between;
}

